.comments-container {
    font-family: 'Nunito', sans-serif;
}

.comment {
    margin-bottom: 10px;
    background-color: rgba(48, 24, 59, 0.788);
    padding: 10px;
    
    white-space: pre-line;
}

.comment:nth-child(odd) {
    background-color: rgb(63, 49, 82);
}

.add-comment-container {
    padding-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
  
.comment-input {
    width: 90%;
    height: 85px;
}

.add-comment-btn {
    margin-top: 10px;
    border-radius: 20px;
}

.add-comment-btn:hover {
    color: white;
    background-color: rgba(48, 24, 59, 0.788);
}

.comments {
    width: 90%;
    display: flex;
    flex-direction: column;
    margin: auto;
    
}