.exact-post-container {
    width: 95%;
    font-family: 'Nunito', sans-serif;
    margin: auto;
    margin-bottom: 20px;
    -moz-box-shadow:    inset 0 0 5px rgb(120, 98, 153);
    -webkit-box-shadow: inset 0 0 5px rgb(120, 98, 153);
    box-shadow:         inset 0 0 5px rgb(120, 98, 153);
    padding: 10px;
}

.post-content {
    white-space: pre-line;
}