.post-link {
    text-decoration: none;
    color: black;
}

.all-posts-container {
    font-family: 'Nunito', sans-serif;
    width: 95%;
    margin: auto;
}

.post-container {
    background-color: rgb(63, 49, 82);
    margin-bottom: 20px;
    padding: 3px 5px;
}

.post-container:hover {
    background-color: rgb(120, 98, 153)
}

.intro-container {
    font-family: 'Merriweather', serif;
    width: 70%;
    margin: auto;
    text-align: center;
}

.post-container {
    color: rgba(255, 255, 255, 0.87);
}
